/* Custom CSS for the text color */
        .custom-text-color {
            color:rgba(0, 0, 120, 0.927); /* Example: A custom orange color */
        }
        .custom-carousel {
        width: 100%; /* Full width */
        max-height: 300px; /* Limit the height of the carousel */
        margin: auto; /* Center the carousel horizontally */
        overflow: hidden; /* Hide any overflow */
      }
      .custom-carousel img {
        height: 100%; /* Make images fit the carousel height */
        width: auto; /* Maintain aspect ratio */
        object-fit: cover; /* Ensure images fill the carousel area */
      }
      .center-btns {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
    }
    .btn-custom {
        background-color:rgba(0, 0, 120, 0.927);
        color:white;
        border: none;
        padding: 10px 30px;
        border-radius: 5px;
        font-weight: 600;
        transition: background 0.2s;
    }
    .btn-custom:hover {
        background-color: #00c5cc;
    }